* {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
}

p {
    padding-top: 1%;
    font-family: 'Parisienne', cursive;
    text-align: center;
    font-size: 5em;
}

#mainGallery {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    border: 5px solid #5adaff;
    border-radius: 10px;
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
}

#navigation, #reset {
    display: flex;
    justify-content: center;
}

button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
    color: #000;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    margin: 0.5%;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);    
}

button:hover {
    background-color: #b9efff; 
}

footer {
    margin: 5% 0 5% 0;
    text-align: center;
}

footer span {
    font-size: 0.7em;
}